@tailwind base;
@tailwind components;
@tailwind utilities;

.floater {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.floater:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}
.img-overlay-wrap svg {
  position: absolute;
  top: 50px;
  left: 0;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TEXT STYLING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.title {
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 1);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

/* RADIO BUTTONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[type="radio"] {
  position: absolute;
  left: -9999px;
}

.radio label svg {
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%);
}

.radio label .big-circle {
  /*the value of the stroke-* properties comes from the getTotalLength() method*/
  stroke-dasharray: 1553.89599609375;
  stroke-dashoffset: 1553.89599609375;
  transition: stroke-dashoffset 0.5s linear;
}

.radio label .tall-circle {
  /*the value of the stroke-* properties comes from the getTotalLength() method*/
  stroke-dasharray: 1599.269287109375;
  stroke-dashoffset: 1599.269287109375;
  transition: stroke-dashoffset 0.5s linear;
}

.radio label .small-circle {
  /*the value of the stroke-* properties comes from the getTotalLength() method*/
  stroke-dasharray: 811.5197143554688;
  stroke-dashoffset: 811.5197143554688;
  transition: stroke-dashoffset 0.5s linear;
}

.radio [type="radio"]:checked + label .circle {
  stroke-dashoffset: 0;
}

/* CHECKBOX BUTTONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input {
  font-family: inherit;
  font-size: 100%;
  background: none;
  outline: none;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.checkbox label {
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkbox label svg {
  top: 50%;
  left: -25px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

.checkbox label .checkmark {
  /*the value of the stroke-* properties comes from the getTotalLength() method*/
  stroke-dasharray: 233.69552612304688;
  stroke-dashoffset: 233.69552612304688;
  transition: stroke-dashoffset 0.5s linear;
}

.checkbox [type="checkbox"]:checked + label .checkmark {
  stroke-dashoffset: 0;
}

/* REVIEW PAGE 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* .rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
} */
textarea::placeholder {
  font-style:italic
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #e2231b;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}